{{toc_output_comment}}

# {{page_title}}
**Using custom template!**


{% if page_description %}
{{page_description}}
{% endif%}
{% for header in toc_headers %}
{% if header.level < 3 %}
{{header.get_md_header()}}
{% else %}
{{header.get_md_ul_item()}}
{% endif%}
{% if header.has_description() %}
{{header.description}}
{% endif%}
{% endfor %}


---

[GitHub](https://github.com/try0/mkdocs-toc-md)